body {
    background-image: url('https://static.independent.co.uk/2022/04/26/15/Bangkok-Wat%20Arun%20Ratchawararam%20Ratchaworamahawihan%20%28วัดอรุณราชวรารามราชวรมหาวิหาร%29%20191054MC.jpg');
    background-size: cover;
    height: 100vh;
    margin: 0;
    color: #f4f4f4;
}





